<!-- Me he creado carpetas nuevas app/Resources/-TwigBundles-/-views-/-Exception-/error.html.twig 

he copiado la pagina de error para modificarlo a mi gusto de la ruta
vendor/symfony/symfony/Bundle/TwigBundle/Resources/views/exception 
para poder crear mi propia pagina error 404 o 500... 
Esto SOLO SIRVE PARA PRODUCCION-->

<!DOCTYPE html>
<html>
    <head>
     <!--   <meta charset="{{ _charset }}" /> -->
        <title>Pagina de error MIA</title>
    </head>
    <body>
        <h1>Pagina no encontrada</h1>
        <h2>Te has equivocaoooooo</h2>

        <div>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </div>
    </body>
</html>
