

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>dddd</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	<h3>Mostrar una Empresa</h3>
        <ul id="empresa">
            <li>{{ empresa.nombreEmpresa }} || {{ empresa.ciudadEmpresa }} || {{ empresa.id }}</li>
        </ul>
    </body>
</html>